* {
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../images/background.jpeg");
	background-size: cover;
	background-repeat: repeat;
	
}

div {
    background-color: white;
    height: 100%;
    position: absolute;
	top: 1px;
	left: 22%;
    right: 22%;
    bottom: 0%;
    padding-left: 0px;
    padding-right: 0px;
    
}

.html {
    height: 100%;
  margin: auto;
  width: 960px;
      overflow: hidden;
}


.head  {
   
  display: block;
  margin: 0 auto;
  max-width:  60%; 
}

h1 {
     position: absolute;
    top: 60%;
    right: 45%;
    color: green;
    padding-left: 36%;
    font-family: monospace;
}

p {
    padding-left: 3% ;
        padding-right:3%;
    font-family: monospace;
}


a {
   font-family: monospace; 
}

.content {
    width: 100%;
    position: absolute;
    top: 68%;
    right: 9%;
    left: 0%;
        bottom: 110%;
}




ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lawngreen;
    font-size: 130%;
    width: 100%
  
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
    color: white;
    background-color:darkgreen;
}





dropdown,
.flyout {
  position: relative;
    
}
.dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: none;
  position: absolute;
  top: 38%;
  right: 12%;
    
}
.drop-nav,
.flyout-nav {
    
    font-size: 70%;
  position: absolute;
  display: none;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #395066;
}


footer {
    background-color: white;
    position: fixed;
    top: 90%;
    width: 50% ;
    height: 19%;
    border-style: solid;
    border-color: lawngreen;
     padding-left: 20px;
    padding-right: 20px;
}

header {
    position: absolute;
    width: 99%;
        left: 1%;
}


.what {
    position: absolute;
    max-width: 16%;
    top: 70%;
    left: 40%;
    
}

#headwhat {
    position: absolute;
    top: 60%;
    right: 45%;
    color: green;
    padding-left: 36%;
}



#info {
    background-color: white;
    position: absolute;
    top: 90%;
}


.lo  {
  
  display: block;
  margin: 0 auto;
  max-width:  50%; 
}

footer .fot  {
    font-size: 110%;
    font-family: monospace;
    padding-left: 50%;
}   




@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
